.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml
.vscode/

android/local.properties
android/.gradle/
android/app/.cxx/
android/key.properties

ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

*.g.dart.bak
